.fluid-span-1 {
  width: NaN%;
}

.fluid-span-2 {
  width: NaN%;
}

.fluid-span-3 {
  width: NaN%;
}

.fluid-span-4 {
  width: NaN%;
}

.fluid-span-5 {
  width: NaN%;
}

.fluid-span-6 {
  width: NaN%;
}

.fluid-span-7 {
  width: NaN%;
}

.fluid-span-8 {
  width: NaN%;
}

.fluid-span-9 {
  width: NaN%;
}

.fluid-span-10 {
  width: NaN%;
}

.fluid-span-11 {
  width: NaN%;
}

.fluid-span-12 {
  width: NaN%;
}

.fluid-offset-1 {
  margin-left: NaN%;
}

.fluid-offset-2 {
  margin-left: NaN%;
}

.fluid-offset-3 {
  margin-left: NaN%;
}

.fluid-offset-4 {
  margin-left: NaN%;
}

.fluid-offset-5 {
  margin-left: NaN%;
}

.fluid-offset-6 {
  margin-left: NaN%;
}

.fluid-offset-7 {
  margin-left: NaN%;
}

.fluid-offset-8 {
  margin-left: NaN%;
}

.fluid-offset-9 {
  margin-left: NaN%;
}

.fluid-offset-10 {
  margin-left: NaN%;
}

.fluid-offset-11 {
  margin-left: NaN%;
}

